@using WebApp2022.Core.Models.Pets
@model PetDetailsViewModel

@{
    ViewBag.Title = $"{@Model.Name} Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AllPetAdvancedDetailsAtAllPage"></partial>