@using WebApp2022.Core.Models
@model IEnumerable<PetMineViewModel>

@{
    ViewBag.Title = "My Pets";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div class="row">
        @foreach (var pet in Model)
        {
            <partial name="_MinePetDetailsAtMinePage" model="@pet" />
        }
    </div>
}
else
{
    <h3 class="text-center">You have no pets registered yet!</h3>
}