@using TravelEquipmentRenting.Core.Models
@model ProductEditViewModel

@{
    ViewBag.Title = "Edit Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ProductEditFormPartial" model="@Model" />

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}
