@using WebApp2022.Core.Models.Announcements
@model List<AnnouncementAllViewModel>

@{
    ViewData["Title"] = "All Announcements";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center row">
    @foreach (var product in Model)
    {
        <partial name="_AllAnnouncementsDetailsAtAllPagePartial" model="product"/>
    }
</div>