@using WebApp2022.Core.Models.Account
@model DetailsAccountViewModel

@{
    ViewBag.Title = $"{@Model.FullName} Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AccountDetailsPartial" model="@Model"></partial>