@{
    ViewData["Title"] = "Add town";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row" style="text-align: center;">
    <h3>Please insert your town's name so we can approve it and use it!</h3>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <input name="name" type="text" id="name" class="form-control" placeholder="Your town's name here..." />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info mt-3">Add</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
