@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best website for pet owners</h1>
    <h4>Here you can explore different pets from your town which need babysitting.</h4>
</div>
